@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --primary: #314A59;
  --secondary: #081226;
  --accent: #6c808c;
  --light: #F2F2F0;
  --highlight: #eab07c;
}

body {
  color: rgb(var(--foreground-rgb));
  /* Remove background color */
}

.bg-numWorld {
  background-image: url('../public/images/numWorld8.jpg');
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .bg-numWorld {
    background-size: contain;
  }
}

.bg-opacity-70 {
  background-color: hsl(203, 29%, 27%, 0.7); /* Use RGBA for 70% opacity */
}

.header {
  background-color: var(--primary);
}

.nav-link {
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #20303b;  /* Darker shade of the primary color */
}

.footer {
  background-color: var(--primary);
  color: var(--light);
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .bg-highlight {
    background-color: var(--highlight);
  }
  .text-accent {
    color: var(--accent);
  }
  .text-light {
    color: var(--light);
  }
  .text-highlight {
    color: var(--highlight);
  }
  .text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Customize as needed */
  }
}
